{% load static %}
<header class="header">
    <div class="container">
        <div class="header_inner">
            <img class="header_logo_img" src="{% static 'onlinecatalog/images/logo.png' %}" alt="">

            <a class="header_logo_text" href="{% url 'home' %}">Canteen online</a>

            <nav class="nav">
                <a class="nav_link" href="{% url 'about' %}">ABOUT</a>
                <a class="nav_link" href="/admin">ADMIN</a>
            </nav>
        </div>
    </div>
</header>