{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>
        Welcome to the Ala-Too Canteen website!
    </h1>
    <img src="{% static 'onlinecatalog/images/about.jpg' %}" alt="">
    <p>
It is a type of catering establishment where you can have a good meal or quench your thirst.</p>
    <p>
This site is intended to introduce students to the products available in this canteen.</p>
 <p>The site shows prices and short descriptions for the different types of available products.</p>
{% endblock %}


