{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block slider %}
    <div class="slider">
        {% for item in categories %}
            <div class="slider_item {% if request.path == cat %}active{% endif %}">
                <div>
                    <a class="menu_link" href="{% url 'category' item.pk %}"><b><i>{{ item.title }}</i></b></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="menu_items">
        {% for item in product %}
            {% if item.is_published %}
                <div class="menu_items_cont">
                    <div class="main_media">
                        {% if item.photo %}
                            <img class="item_photo" src="{{ item.photo.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="main_text">
                        <h4 class="item_title">{{ item.title }}</h4>
                        <div class="item_text">{{ item.description }} </div>
                        <h2 class="item_price"> {{ item.price }} s</h2>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

